{% extends 'base.html' %}
{% block bodyblock %}
<div class="jumbotron">
    <center>
        <h2>Register</h2>
        <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <a href="{% url 'classroom:student_register' %}" class="btn btn-primary">I'm a student</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <a href="{% url 'classroom:teacher_register' %}" class="btn btn-primary">I'm a teacher</a>
      </div>
    </div>
  </div>
</div>
    </center>
</div>
{% endblock %}